<nav class="navbar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="/shared/_description">Description</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="/shared/_features">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="/shared/_rules">Studio Rules</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="/shared/_location">Location</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="/shared/_pricing">Pricing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="/shared/_photos">Photos</a>
    </li>
  </ul>
</nav>