<div class="row">
	<div class="col-lg-2">
    <%= render 'shared/add_studio_side_navbar' %>
	</div>
	<div class="col-lg-10">
		<h1>Add Your Studio</h1>
    <%= render 'form', studio: @studio %>
	</div>
</div>